<!doctype html>
<html lang="en">
    <head>
        <title>Feedback</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css" rel="stylesheet">
        <script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
        <script src="/webjars/bootstrap/4.4.1-1/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col" th:text="#{feedback.id}"></th>
                        <th scope="col" th:text="#{feedback.date}"></th>
                        <th scope="col" th:text="#{feedback.name}"></th>
                        <th scope="col" th:text="#{feedback.email}"></th>
                        <th scope="col" th:text="#{feedback.message}"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="row : ${feedbackList}">
                        <th scope="row" th:text="${row.id}"></th>
                        <td th:text="${row.date}"></td>
                        <td th:text="${row.name}"></td>
                        <td th:text="${row.email}"></td>
                        <td th:text="${row.message}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>