<!doctype html>
<html lang="en">
    <head>
        <title>Feedback</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css" rel="stylesheet">
        <script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
        <script src="/webjars/bootstrap/4.4.1-1/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <div class="alert alert-success" role="alert" th:if="${success} != null" th:text="${success}"></div>
                <div class="alert alert-danger" role="alert" th:if="${failure} != null" th:text="${failure}"></div>
                <!--
                <p th:if="${sucess} != null" th:text="${sucess}"></p>
                <p th:if="${failure} != null" th:text="{failure}"></p>
                -->
                <h1 class="display-4">Feedback</h1>
                <a th:href="${(#mvc.url('FC#newFeedbackForm')).build()}">feedback</a>
                <br>
                <a th:href="${(#mvc.url('FC#getAllFeedback')).build()}">feedback list</a>
            </div>
        </div>
    </body>
</html>