<!doctype html>
<html lang="en">
    <head>
        <title>Add Feedback</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css" rel="stylesheet">
        <script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
        <script src="/webjars/bootstrap/4.4.1-1/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container">
            <form action="#" th:action="@{/feedback/new}" th:object="${feedback}" method="post">
                <fieldset>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" th:text="#{feedback.name}"></span>
                        </div>
                        <input type="text" th:field="*{name}" maxlength="50" />
                        <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Incorrect name</p>
                    </div>
                    
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" th:text="#{feedback.email}"></span>
                        </div>
                        <input type="text" th:field="*{email}" />
                        <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" maxlength="50">Incorrect email</p>
                    </div>
                    
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" th:text="#{feedback.message}"></span>
                        </div>
                        <textarea th:field="*{message}" cols="40" rows="3" maxlength="500"/>
                        <p th:if="${#fields.hasErrors('message')}" th:errors="*{message}">Incorrect message</p>
                    </div>
                    
                </fieldset>
                <button name="removeRow" type="submit" value="1">Submit</button>
            </form>
        </div>
    </body>
</html>